.form {
  width: 22.75rem;

  padding: 2.375rem 1.53rem;

  border: 1px solid var(--grey-2);
  border-radius: 0.25rem;

  margin-bottom: 1rem;
}

.form__label {
  display: block;
  font: 400 0.75rem 'Inter', sans-serif;
  line-height: 1.375rem;
  margin-bottom: 0.75rem;
}

.form__description {
  width: 100%;
  padding: 0.8375rem 1rem;
  background: var(--grey-1);
  font: 400 1rem 'Inter', sans-serif;
  border: 2px solid var(--grey-1);
  border-radius: 0.5rem;
  color: var(--grey-3);
}

.form__description:focus {
  background: #FFF;
  outline: none;
  border-color: var(--grey-4);
  color: var(--grey-4);
}

.form__example {
  color: var(--grey-3);
  font: 400 0.75rem 'Inter', sans-serif;
  margin: 0.25rem 0 1rem;
}

.amount-wrapper,
.type-wrapper {
  display: inline-block;
}

.amount-wrapper .form__label,
.type-wrapper .form__label {
  margin-bottom: 0.56rem;
}

.amount-wrapper {
  width: 8rem;
  position: relative;
}

.type-wrapper {
  width: 9.375rem;
  float: right;
  position: relative;
}

.type-wrapper::after {
  content: '';
  width: 0.4rem;
  height: 0.4rem;
  box-shadow: 2px 2px 1px 1px var(--grey-3);
  position: absolute;
  top: 2.75rem;
  right: 1rem;
  transform: rotate(45deg);
}

.form__amount,
.form__type {
  width: 100%;
  background: var(--grey-1);
  border: 1.2px solid var(--grey-1);
  border-radius: 0.5rem;
  padding: 0.6875rem 1rem;
  color: var(--grey-3);
}

.form__amount {
  font: 400 1rem 'Inter', sans-serif;
}

.form__amount:focus,
.form__type:focus {
  border-color: var(--grey-4);
  color: var(--grey-4);
  outline: none;
}

.form__type {
  font: 400 0.75rem 'Inter', sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.form__type option {
  background-color: var(--grey-1);
  color: var(--grey-3);
}

.form__type::-ms-expand {
  display: none;
}

.amount-wrapper::after {
  content: 'R$';
  color: var(--grey-3);
  position: absolute;
  top: 2.7rem;
  right: 1rem;

  font: 400 1rem 'Inter', sans-serif;
}

.form__submit {
  width: 100%;
  margin-top: 1.25rem;
  background: var(--color-primary);
  border-radius: 0.5rem;
  border: none;
  color: #FFF;
  font: 500 1rem 'Inter', sans-serif;
  padding: 0.906rem 1rem;
}

.form__submit:hover {
  background: var(--color-primary-2);
  color: var(--grey-1);
}

@media only screen and (max-width: 830px) {
  .form {
    width: unset;
  }

  .amount-wrapper,
  .type-wrapper {
    width: 40%;
  }
}

@media only screen and (max-width: 400px) {
  .amount-wrapper,
  .type-wrapper {
    width: 48%;
  }
}
